a {
    text-decoration-line: none;
}

p {
    margin-bottom: 0;
    color: white;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 20px;
}

.tab {
    margin: 0;
    padding: 0;

    width: 100%;
    background-color: crimson;
    position: fixed; /* 변경: absolute에서 fixed로 변경 */
    top: 0; /* 변경: 위쪽에 붙도록 top 속성 추가 */
    left: 0; /* 변경: 왼쪽에 붙도록 left 속성 추가 */
}

.title {
    position: relative;

    width: fit-content;

    transform: translate(-50%);
    left: 50%;
    color: white;
}

.box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 105px; /* 변경: 100px + 5px 여백 */
}

.photo-cuts {
    flex: 0 0 calc(100% / 3 - 10px);
    margin: 5px;
    height: 250px;
    background-color: lightgray;

    position: relative;
}

#cut1 {
    background-image: linear-gradient(to left, rgb(136, 136, 136), transparent, transparent, rgb(136, 136, 136)), url(cut1/images/img1.png);
    background-size: contain;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items:flex-end; /* 세로 아래 정렬 */

    text-align: center; /* 글자 중앙 정렬 */
    background-position: center center;
}
