a {
    text-decoration-line: none;
}

p {
    margin-bottom: 0;
    color: white;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 20px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 105px; /* 변경: 100px + 5px 여백 */
}

.photo-cuts {
    flex: 0 0 calc(100% / 3 - 10px);
    margin: 5px;
    height: 250px;
    background-color: lightgray;

    position: relative;

    /* */

    background-size: contain;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items:flex-end; /* 세로 아래 정렬 */

    text-align: center; /* 글자 중앙 정렬 */
    background-position: center center;
}
